.tool-box {
    margin-bottom: 20px;
    background-color: #ccccb3;
    padding: 10px;

    .add {
        float: right;
    }

    button {
        a {
            text-decoration: none;
            
            &:active,
            &:hover,
            &:visited {
                color: #000;
            }
        }
    }
}