.no-course {
    margin-bottom: 20px;
    background-color: #ccccb3;
    padding: 10px;
    text-align: center;
}

.courses {
    ul {
        list-style: none;
        padding-left: 0;
        
        li {
            margin-bottom: 20px;
        }
    }
}