<div class="course-item" [ngClass]="{'topRated': course.topRated}" [appBorderColor]="course.creationDate">
    <div class="course-details">
        <div class="data-header">
            <h1>{{course.title | uppercase}}</h1>
            <span class="duration">{{course.duration | duration}}</span>
            <span>{{course.creationDate | date:"MM/dd/yyyy"}}</span>
        </div>
        <div class="data-body">
            {{course.description}}
        </div>
    </div>
    <div class="course-actions">
        <button>Edit course</button>
        <button (click)="deleteCourse()">Delete</button>
    </div>
</div>
