.course-item {
    padding: 10px;
    border: black solid 1px;
    position: relative;
    overflow: auto;

    .course-details {
        width: 80%;
        float: left;

        .data-header {
            h1 {
                display: inline-block;
            }

            h1,
            span {
                font-size: 20px;
            }
        }

        .data-body {
            font-size: 15px;
        }
    }

    .course-actions {
        width: 20%;
        float: right;

        button {
            display: block;
            margin: 0 auto 10px auto;
            width: 50%;
        }
    }
}
