.course-item {
    padding: 10px;
    border: #ccccb3 solid 1px;
    border-radius: 5px;
    position: relative;
    overflow: auto;

    .course-details {
        width: 80%;
        float: left;

        .data-header {
            margin-bottom: 15px;

            h1 {
                display: inline-block;
            }

            h1,
            span {
                font-size: 20px;
                margin-right: 20px;
            }

            span:last-of-type {
                float: right;
            }
        }

        .data-body {
            font-size: 15px;
        }
    }

    .course-actions {
        width: 20%;
        float: right;

        button {
            display: block;
            margin: 0 auto 10px auto;
            width: 50%;
        }
    }

    &.topRated {
        background-color: #ccccb3;

        .data-header {
            .duration:after {
                content: '*';
                margin-left: 10px;
            }
        }
    }
}
