.add-course {
    width: 60%;
    margin: 10px auto;
    padding: 15px;
    background-color: #ebebe0;

    input,
    textarea,
    .buttons {
        margin-bottom: 10px;
        margin-left: 10px;
        outline: none;
    }

    input,
    textarea {
        border-radius: 2px;

        &.ng-touched.ng-invalid {
            border: 1px solid #ff0000;
        }
    }

    .buttons {
        width: 50%;
        margin: auto;
    }

    .error-message {
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 2px;
        color: #ff0000;
        background-color: #ffb3b3;
        text-align: center;
    }

    #duration {
        margin-right: 10px;
    }

    label[for='description'] {
        vertical-align: top;
    }

    textarea {
        width: 90%;
    }
}