app-logo {
    display: inline-block;
    width: 25%;
}

.header {
    margin: 20px 0;

    .breadcrumb,
    .log-in-out {
        display: inline-block;
    }
    
    .log-in-out {
        float: right;
    
        a {
            display: block;
            text-align: right;
        }
    }
}
