<form #form="ngForm" class="form" (submit)="logIn(form)">
  <div>
    <div>
      <label>Username *</label>
      <input type="text" name="username" #username="ngModel" ngModel required>
      <span class="error-message" *ngIf="username.invalid && username.dirty">This field is required</span>
    </div>
    <div>
      <label>Password *</label>
      <input type="password" name="password" #password="ngModel" ngModel required>
      <span class="error-message" *ngIf="password.invalid && password.dirty">This field is required</span>
    </div>
    <button type="submit" [disabled]="form.invalid && form.dirty">Enter</button>
  </div>
</form>
