.form {
    h2 {
        text-align: center;
    }

    div {
        font-size: 15px;
        width: 50%;
        margin: 10px auto;
    }

    button {
        display: block;
        width: 25%;
        margin: 10px auto;

        a {
            text-decoration: none;

            &:active,
            &:hover,
            &:visited {
                color: #000;
            }
        }
    }
}