.form {
    h2 {
        text-align: center;
    }

    div {
        font-size: 15px;
        width: 50%;
        margin: 10px auto;
    }

    span {
        display: inline-block;
    }

    input {
        outline: none;
    }

    input.ng-invalid.ng-dirty {
        background-color: #ffb3b3;
    }

    button {
        display: block;
        width: 25%;
        margin: 10px auto;

        a {
            text-decoration: none;

            &:active,
            &:hover,
            &:visited {
                color: #000;
            }
        }
    }

    .error-message {
        color: #ffb3b3;
    }
}